CompileFlags:
    Add:
        - "-I/home/sech1p/pspdev/psp/sdk/include"
        - "-I/home/sech1p/ps2dev/ps2sdk/common/include"
        - "-I/home/sech1p/ps2dev/ps2sdk/ee/include"
        - "-I/home/sech1p/ps2dev/ps2sdk/iop/include"
        - "-I/home/sech1p/ps2dev/ps2sdk/ports/include"
        - "-I/home/sech1p/ps2dev/gsKit/include"
        - "-I/opt/devkitpro/calico/include"
        - "-I/opt/devkitpro/libctru/include"
        - "-I/opt/devkitpro/libgba/include"
        - "-I/opt/devkitpro/libmirko/include"
        - "-I/opt/devkitpro/libnds/include"
        - "-I/opt/devkitpro/libnx/include"
        - "-I/opt/devkitpro/libogc/include"
        - "-I/opt/devkitpro/libtonc/include"
        - "-I/opt/devkitpro/wut/include"
        - "-I/opt/devkitpro/portlibs/wii/include"
        - "-I/opt/toolchains/mars/m68k-elf/inc"