[init]
	defaultBranch = main
[user]
	name = sech1p
	email = sech1p@disroot.org
[credential]
	helper = store
[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit # displays tree of commits in a pretty way
	st = status -sb # displays less-detailed branch status in a pretty way
	last = log -1 HEAD --stat # displays last commit details
	remoteall = remote -v # displays all remotes in repository
	aliases = config --get-regexp ^alias # displays all aliases defined by me